@mixin center() {
  text-align: center;
  justify-content: center;
  align-items: center;
}
$background-purple1: rgba(98, 46, 147, 0.638);
$background-purple2: rgb(98, 46, 147);
$background-bright: rgba(222, 215, 201, 0.929);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  user-select: none;
}
// body{

// }
