@mixin center() {
  text-align: center;
  justify-content: center;
  align-items: center;
}
$background-purple1: rgba(98, 46, 147, 0.638);
$background-purple2: rgb(98, 46, 147);
$background-bright: rgba(222, 215, 201, 0.929);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  // user-select: none;
}

body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column-reverse;
  @include center();
}

#bar {
  h1 {
    margin-top: 80px;
    margin-bottom: 35px;
  }
  & #search-input {
    width: 200px;
    height: 23px;
  }
  & #button-input {
    border-radius: 12px;
    width: 130px;
    height: 30px;
    background: burlywood;
    cursor: pointer;
  }
}

#sub-container {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: white;
  color: rgb(95, 33, 33);
  padding: 40px;
  border-radius: 10px;
  outline: solid 3px black;
  width: 35%;
  height: 30%;
  display: flex;
  @include center();
}

.pokemon-template {
  width: 500px;
  height: 300px;
  padding: 25px;
  & .img {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 4%;
    top: 7%;
  }
  & .data-div {
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 20%;
    line-height: 30px;
  }
}
#close-button {
  border-radius: 12px;
  width: 60px;
  height: 30px;
  margin-bottom: 20px;
  background: burlywood;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 40%;
}

@media only screen and(min-width:950px) {
  #sub-container {
    height: 320px;
    width: 400px;
    h1 {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and(max-width:950px) {
  #sub-container {
    height: 400px;
    width: 270px;
  }
  .pokemon-template {
    flex-direction: column;
    & .img {
      position: absolute;
      top: 5%;
      right: 17%;
    }
    & .data-div {
      position: absolute;
      top: 50%;
      left: 28%;
    }
  }
}

@media only screen and(max-width:650px) {
  #sub-container {
    height: 400px;
    width: 150px;
  }

  .pokemon-template {
    flex-direction: column;
    & .img {
      position: absolute;
      top: 5%;
      right: 8%;
      width: 120px;
      height: 120px;
    }
    & .data-div {
      top: 40%;
      left: 11%;
    }
    & #close-button {
      left: 32%;
    }
  }
}

#first-container {
  display: grid;
  & .pokemon-template-first-page {
    width: 620px;
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    margin-top: 10px;
    & .img-first-page {
      width: 70px;
      height: 70px;
    }
    & .data-div-first-page {
      display: flex;
    }
  }
}

.pokemon-template-first-page div {
  margin-right: 20px;
}

#button-up {
  position: fixed;
  right: 20px;
  top: 20px;
  border-radius: 12px;
  width: 130px;
  height: 30px;
  background: burlywood;
  cursor: pointer;
}

@media only screen and(max-width:650px) {
  #first-container .pokemon-template-first-page {
    width: 390px;
  }
}
