@mixin center() {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin cursorAndBorder() {
  cursor: pointer;
  border: none;
}

@mixin buttonsStyle() {
  background: #4077ff;
  color: white;
  border-radius: 15px;
  height: 32px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  user-select: none;
}

body {
  background-image: url("https://www.wallpaperuse.com/wallp/3-33570_m.jpg");
  flex-direction: column-reverse;
  background-position: center;
  background-size: contain;
  @include center;
}

#bar {
  h1 {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  & #search-input {
    width: 200px;
    height: 27px;
    border-radius: 15px;
    border: none;
    padding-left: 5px;
  }
  & #button-input {
    @include cursorAndBorder;
    @include buttonsStyle;
    width: 95px;
    font-size: medium;
    font-weight: 700;
  }
}

#sub-container {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: white;
  color: rgb(95, 33, 33);
  padding: 40px;
  border-radius: 10px;
  width: 35%;
  height: 30%;
  @include center;
}

.pokemon-template {
  width: 500px;
  height: 300px;
  padding: 25px;
  & .img {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 4%;
    top: 7%;
  }
  & .data-div {
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 20%;
    line-height: 30px;
  }
}

#close-button {
  @include cursorAndBorder;
  @include center;
  border-radius: 12px;
  width: 60px;
  height: 30px;
  margin-bottom: 20px;
  background: burlywood;
  position: absolute;
  bottom: 0;
  left: 40%;
}

@media only screen and(min-width:950px) {
  #sub-container {
    height: 320px;
    width: 400px;
    h1 {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and(max-width:950px) {
  #sub-container {
    height: 400px;
    width: 270px;
  }
  .pokemon-template {
    flex-direction: column;
    & .img {
      position: absolute;
      top: 5%;
      right: 17%;
    }
    & .data-div {
      position: absolute;
      top: 50%;
      left: 28%;
    }
  }
}

@media only screen and(max-width:650px) {
  #sub-container {
    height: 400px;
    width: 150px;
  }

  .pokemon-template {
    flex-direction: column;
    & .img {
      position: absolute;
      top: 5%;
      right: 8%;
      width: 120px;
      height: 120px;
    }
    & .data-div {
      top: 40%;
      left: 11%;
    }
    & #close-button {
      left: 32%;
    }
  }
}

#first-container {
  margin-top: 15px;
  background: rgb(77 75 75 / 94%);
  padding: 5px 15px;
  border-radius: 20px;
  & .pokemon-template-first-page {
    width: 620px;
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #9191918f;
    margin-top: 15px;
    border-radius: 15px;
    & .img-first-page {
      width: 70px;
      height: 70px;
    }
    & .data-div-first-page {
      display: flex;
      & div {
        color: white;
      }
    }
  }
}

.pokemon-template-first-page div {
  margin-right: 20px;
}

#button-up {
  @include cursorAndBorder;
  @include buttonsStyle;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 130px;
  font-size: larger;
  font-weight: 900;
}

@media only screen and(max-width:650px) {
  #first-container .pokemon-template-first-page {
    width: 390px;
  }
}
