// =================================================================
// Pokemon Types
// =================================================================

.fire {
	background-color: #ff4422 !important;
	border: 3px solid darken(#ff4422, 5%) !important;
}
.grass {
	background-color: #77cc55 !important;
	border: 3px solid darken(#77cc55, 5%) !important;
}
.poison {
	background-color: #aa5599 !important;
	border: 3px solid darken(#aa5599, 5%) !important;
}
.water {
	background-color: #3399ff !important;
	border: 3px solid darken(#3399ff, 5%) !important;
}
.ice {
	background-color: #66ccff !important;
	border: 3px solid darken(#66ccff, 5%) !important;
}
.flying {
	background-color: #8899ff !important;
	border: 3px solid darken(#8899ff, 5%) !important;
}
.dragon {
	background-color: #7766ee !important;
	border: 3px solid darken(#7766ee, 5%) !important;
}
.bug {
	background-color: #aabb22 !important;
	border: 3px solid darken(#aabb22, 5%) !important;
}
.normal {
	background-color: #aaaa99 !important;
	border: 3px solid darken(#aaaa99, 5%) !important;
}
.fighting {
	background-color: #bb5544 !important;
	border: 3px solid darken(#bb5544, 5%) !important;
}
.dark {
	background-color: #775544 !important;
	border: 3px solid darken(#775544, 5%) !important;
}
.electric {
	background-color: #ffcc33 !important;
	border: 3px solid darken(#ffcc33, 5%) !important;
}
.psychic {
	background-color: #ff5599 !important;
	border: 3px solid darken(#ff5599, 5%) !important;
}
.steel {
	background-color: #aaaabb !important;
	border: 3px solid darken(#aaaabb, 5%) !important;
}
.fairy {
	background-color: #ee99ee !important;
	border: 3px solid darken(#ee99ee, 5%) !important;
}
.rock {
	background-color: #bbaa66 !important;
	border: 3px solid darken(#bbaa66, 5%) !important;
}
.ghost {
	background-color: #6666bb !important;
	border: 3px solid darken(#6666bb, 5%) !important;
}
.ground {
	background-color: #ddbb55 !important;
	border: 3px solid darken(#ddbb55, 5%) !important;
}