@import 'config';
@import 'common';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  user-select: none;
}

body {
  background-image: url('https://i.pinimg.com/originals/56/35/d8/5635d897a5ebc9923114a39bd9a4843e.gif');
  flex-direction: column;
  background-position: center;
  background-size: contain;
  @include center;
}

.background-container {
  background: rgba(77, 75, 75, 0.94);
  width: 1400px;
}

#log-out {
  @include cursorAndBorder;
  @include buttonsStyle;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 130px;
  font-size: larger;
  font-weight: 900;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

#header-container {
  // background: rgba(77, 75, 75, 0.94);
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 23.3em;
  text-align: center;
  width: 100%;
}

#bar {
  h1 {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  & #search-input {
    @include size(200px, 27px);
    border-radius: 15px;
    border: none;
    padding-left: 5px;
  }

  & #button-input {
    @include cursorAndBorder;
    @include buttonsStyle;
    width: 95px;
    font-size: medium;
    font-weight: 700;
  }
}

#sub-container {
  @include size(35%, 30%);
  @include center;
  @include topLeft(45%, 50%);
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  color: rgb(95, 33, 33);
  padding: 40px;
  border-radius: 10px;
}

.pokemon-template {
  @include size(500px, 300px);
  padding: 25px;
  & .img {
    @include size(220px, 220px);
    @include topRight(7%, 4%);
    position: absolute;
  }
  & .data-div {
    @include topLeft(20%, 30px);
    flex-direction: column;
    position: absolute;
    line-height: 30px;
  }
}

#close-button {
  @include cursorAndBorder;
  @include center;
  @include size(60px, 30px);
  border-radius: 12px;
  margin-bottom: 20px;
  background: burlywood;
  position: absolute;
  bottom: 0;
  left: 40%;
}

@media only screen and(min-width:950px) {
  #sub-container {
    @include size(400px, 320px);
    h1 {
      @include topLeft(40%, 50%);
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and(max-width:950px) {
  #sub-container {
    @include size(270px, 400px);
  }
  .pokemon-template {
    flex-direction: column;
    & .img {
      @include topLeft(5%, 17%);
      position: absolute;
    }
    & .data-div {
      @include topLeft(50%, 28%);
      position: absolute;
    }
  }
}

@media only screen and(max-width:650px) {
  #sub-container {
    @include size(150px, 400px);
  }

  .pokemon-template {
    flex-direction: column;
    & .img {
      @include topRight(5%, 8%);
      @include size(120px, 120px);
      position: absolute;
    }
    & .data-div {
      @include topLeft(40%, 11%);
    }
    & #close-button {
      left: 32%;
    }
  }
}

#first-container {
  // background: rgb(77 75 75 / 94%);
  padding: 15px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  & .pokemon-template-first-page {
    @include size(230px, 270px);
    @include flex(column, center, center);
    border: 1px solid #9191918f;
    margin: 10px;
    border-radius: 15px;
    padding-left: 18px;
    position: relative;
    background: #a9a9a994;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    &:hover {
      background-color: lighten(rgba(235, 235, 235, 0.487), 10%);
      transform: scale(1.04);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 11px 4px;
    }
    & div {
      color: white;
      margin-top: 10px;
    }
    & .fa-star {
      position: absolute;
      @include topRight(20px, 20px);
      cursor: pointer;
    }
    & .checked {
      color: orange;
    }
    & .species {
      margin-bottom: 10px;
    }
    & .types {
      @include flex(row, space-evenly, center);
      flex-wrap: wrap;
      font-size: 1rem;
      span {
        margin-right: 10px;
        text-transform: capitalize;
        color: white;
        padding: 0.3em 0.4em;
      }
    }
  }
}

.pokemon-template-first-page div {
  margin-right: 20px;
}

#button-up {
  @include cursorAndBorder;
  @include buttonsStyle;
  position: fixed;
  left: 20px;
  top: 20px;
  width: 130px;
  font-size: larger;
  font-weight: 900;
}

@media only screen and(max-width:650px) {
  #first-container .pokemon-template-first-page {
    width: 390px;
  }
}

#side-menu {
  @include position(fixed, 50%, calc(100% - 235px));
  z-index: 1;
  width: 235px;
  background-color: rgb(221, 221, 221);
  padding: 0.5%;
  border: 6px solid black;
  border-right: 0;
  border-radius: 20px 0 0 20px;
  text-align: center;
  transform: translate(95%, -50%);
  transition: transform 0.5s ease-in-out;
  #side-menu-toggler {
    @include position(absolute, 50%, 0%);
    @include size(45px, 60px);
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px 0 0 10px;
    transform: translate(-100%, -50%);
    transform-origin: center center;
    &::before,
    &::after {
      content: '';
      @include position(absolute, unset, 50%);
      @include size(28px, 5%);
      background-color: white;
      transform: translate(-50%, 0);
      transform-origin: center center;
      transition: transform 0.5s;
    }
    &::before {
      top: 40%;
    }
    &::after {
      top: 60%;
    }
  }
  &:hover.active {
    transform: translate(0, -50%);
    #side-menu-toggler {
      &::before {
        transform: translate(-50%, 200%) rotate(-45deg);
      }
      &::after {
        transform: translate(-50%, -200%) rotate(45deg);
      }
    }
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  #sorter {
    border-radius: 8px;
    margin: 0.8em 0;
    padding: 0.2em 0.3em;
  }
  .filter {
    label {
      @include flex(row, center, flex-end);
      font-size: 1.2rem;
      input {
        appearance: none;
        font-size: 0.9rem;
        position: relative;
        @include size(22px, 22px);
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
        margin-right: 0.3em;
        padding: 0;
        &::before {
          content: '';
          @include position(absolute, 50%, 50%);
          @include size(14px, 14px);
          background-color: rebeccapurple;
          border-radius: 2px;
          transform: translate(-50%, -50%) scale(0);
          transform-origin: center center;
          transition: 120ms transform ease-in-out;
        }
        &:checked::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
  .type-filters {
    @include flex(row, space-evenly, center);
    flex-wrap: wrap;
    margin: 0.4em 0;
    .type-filter {
      font-size: 0.8rem;
      font-weight: bold;
      width: 30%;
      margin: 0.3em 0.1em;
      padding: 0.3em;
      color: white;
      border-radius: 0.3em;
      text-transform: capitalize;
      background-color: black;
      border: black 3px solid;
      transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
      &:hover {
        box-shadow: 0 0 6px 2px blue;
      }
    }
  }
  .favorite-filter {
    font-size: 1rem;
    font-weight: bold;
    width: 65%;
    margin: 0.8em 0.1em;
    padding: 0.3em;
    color: white;
    border-radius: 0.3em;
    text-transform: capitalize;
    background-color: black;
    border: black 3px solid;
    transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
    &:hover {
      box-shadow: 0 0 6px 2px blue;
    }
  }
}
